*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.featured-link{
    color:#adb5bd ;
}
.left-to-right{
    flex-direction: row;
    justify-content: flex-start;
}
.phone-num{
    
}
.button1{
    background-color: #7ed321;
    color: white;
    border: 1px solid #7ed321;
    border-radius: 8px;
    padding: 1vw;
    font-weight: 400;
    font-size: 15px;
}